In [2]:
!python -m ipykernel install --user --name my_env --display-name "Cleaning"

Installed kernelspec my_env in C:\Users\super_grool\AppData\Roaming\jupyter\kernels\my_env

In [1]:
import pandas as pd

In [142]:
data = pd.read_csv("./src/main/resources/MultiThreaded_books.csv",  on_bad_lines='skip')
data = data.loc[:,:"publisher"]

data["authors"] = data["authors"].apply(lambda x : x.split("/"))
data = data.explode("authors")
authors = data.pop("authors")
authors= authors.to_frame()

In [143]:
bookinfo = data.drop_duplicates()

In [144]:
bookInfo=bookInfo.rename(columns= {"book_ID":"id"}) 
authors["id"]=authors["authors"].apply(hash)

In [145]:
# bookInfo["author_id"] = bookInfo["author_id"])

In [152]:
authors["authors"]

0               J.K. Rowling
0              Mary GrandPré
1               J.K. Rowling
1              Mary GrandPré
2               J.K. Rowling
                ...
11118     Michael Hemmingson
11119    William T. Vollmann
11120    William T. Vollmann
11121    William T. Vollmann
11122             Mark Twain
Name: authors, Length: 19237, dtype: object

In [154]:
bookInfo.head()

,id,title,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,author_id
0,1,Harry Potter and the Half-Blood Prince (Harry ...,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,8394716670404476876
0,1,Harry Potter and the Half-Blood Prince (Harry ...,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,-1277078846803799247
1,2,Harry Potter and the Order of the Phoenix (Har...,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,8394716670404476876
1,2,Harry Potter and the Order of the Phoenix (Har...,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,-1277078846803799247
2,4,Harry Potter and the Chamber of Secrets (Harry...,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic,8394716670404476876

In [151]:
bookInfo.to_csv("./src/main/resources/book_info.csv",index = False)
authors.to_csv("./src/main/resources/authors.csv", index = False)

In [ ]:
"book_ID,title,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,authorid", "1,Potter and the Half-Blood Prince (Harry Potter  #6),4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,8394716670404476876", "2,Harry Potter and the Order of the Phoenix (Harry Potter  #5),4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,-1277078846803799247", "4,Harry Potter and the Chamber of Secrets (Harry Potter  #2),4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic,8394716670404476876"
];